kube-prometheus-stack:
  grafana:
    service:
      type: NodePort
      nodePort: 32000
    sidecar:
      dashboards:
        enabled: true
  prometheus:
    service:
      type: NodePort
      nodePort: 32001