kube-prometheus-stack:
  grafana:
    service:
      type: NodePort
      nodePort: 32000
    sidecar:
      dashboards:
        enabled: true
  prometheus:
    service:
      type: NodePort
      nodePort: 32001
    prometheusSpec:
      podMonitorSelectorNilUsesHelmValues: false
      probeSelectorNilUsesHelmValues: false
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorSelectorNilUsesHelmValues: false
      serviceMonitorSelector: {}
      serviceMonitorNamespaceSelector: {}

      retention: 15d
      retentionSize: "50GiB"

      additionalScrapeConfigs: |
        - job_name: 'rpi4-temperature'
          scheme: http
          static_configs:
            - targets: ['192.168.1.100:9101']
        - job_name: 'rpi4-airquality'
          scheme: http
          static_configs:
            - targets: ['192.168.1.100:9102']
